/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/package-lock.json
/resources/.DS_Store
/resources/fonts/.DS_Store
/public/img/.DS_Store
/public/css/app.css
/public/css/fonts.css
/public/css/projeto.css
/public/fonts/*
/public/js/app.js
/public/js/app.js.LICENSE.txt
/public/js/chart.js
/public/js/functions.js
/public/mix-manifest.json
.DS_Store
.env-local-hiroshi
