@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.ttf?27f62b53b93858475a7f554845543bb8) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Bold.ttf?d50a80138ec4f2fb5e9ff1dd8af266b6) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Italic.ttf?cd47f5421512ee65fe2207a974c7f85b) format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-BoldItalic.ttf?3fcf599c8a6c05a2c712e9bb7e1aa38d) format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Light.ttf?839cb7309f46fed11436fff0e4c85700) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-LightItalic.ttf?3743e89917aa46e2f6e538c65f52f635) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Medium.ttf?e73e917f7bfa48666e008bd3b9e854db) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-MediumItalic.ttf?3dc683bc0f0d56bae3f8d57f6f61f6ae) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Thin.ttf?a4d410dfda20e10f3aedb2caae088616) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-ThinItalic.ttf?ec182f326e92593c9a2861ba2b9a117c) format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Black.ttf?4afbed674a5252ead17659966f556413) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-BlackItalic.ttf?b49c4ba79204961dccd32a344d03ad1a) format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-Regular.ttf?51fdb083efba0dd8a5ea186662f468e7) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-Bold.ttf?37f7c30bbfc1ebae4939730d1819aab9) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-Light.ttf?acad4001c48971a95eb3d61cbb866049) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-Medium.ttf?2126424ccbd498e308f30c23b773066f) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-SemiBold.ttf?72385cb89132018e7590be0ddc381d1a) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-ExtraBold.ttf?d97713ce3df3312b4098b26ba70d95e8) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-Thin.ttf?5d7d07d7def37f069edc371c4378f6a7) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-ExtraLight.ttf?b8041d1b8d6f1056c07e9c9b0d08fffa) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-Black.ttf?cb346ae0cd5fcf06fd1dcf51990979fc) format("truetype");
  font-weight: 900;
  font-style: normal;
}
