//fonte: Roboto
$fonts: (
    "regular": "Roboto-Regular.ttf",
    "bold": "Roboto-Bold.ttf",
    "italic": "Roboto-Italic.ttf",
    "bold-italic": "Roboto-BoldItalic.ttf",
    "light": "Roboto-Light.ttf",
    "light-italic": "Roboto-LightItalic.ttf",
    "medium": "Roboto-Medium.ttf",
    "medium-italic": "Roboto-MediumItalic.ttf",
    "thin": "Roboto-Thin.ttf",
    "thin-italic": "Roboto-ThinItalic.ttf",
    "black": "Roboto-Black.ttf",
    "black-italic": "Roboto-BlackItalic.ttf"
);

// Mixin para gerar a regra @font-face
@mixin font-face($name, $file, $weight, $style) {
    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/#{$file}') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

// Aplicar o mixin para cada variação de fonte
@each $name, $file in $fonts {
    @if $name == "regular" {
        @include font-face('Roboto', $file, normal, normal);
    } @else if $name == "bold" {
        @include font-face('Roboto', $file, bold, normal);
    } @else if $name == "italic" {
        @include font-face('Roboto', $file, normal, italic);
    } @else if $name == "bold-italic" {
        @include font-face('Roboto', $file, bold, italic);
    } @else if $name == "light" {
        @include font-face('Roboto', $file, 300, normal);
    } @else if $name == "light-italic" {
        @include font-face('Roboto', $file, 300, italic);
    } @else if $name == "medium" {
        @include font-face('Roboto', $file, 500, normal);
    } @else if $name == "medium-italic" {
        @include font-face('Roboto', $file, 500, italic);
    } @else if $name == "thin" {
        @include font-face('Roboto', $file, 100, normal);
    } @else if $name == "thin-italic" {
        @include font-face('Roboto', $file, 100, italic);
    } @else if $name == "black" {
        @include font-face('Roboto', $file, 900, normal);
    } @else if $name == "black-italic" {
        @include font-face('Roboto', $file, 900, italic);
    }
}

//fonte: Roboto_slab
$roboto-slab-fonts: (
    "regular": "RobotoSlab-Regular.ttf",
    "bold": "RobotoSlab-Bold.ttf",
    "light": "RobotoSlab-Light.ttf",
    "medium": "RobotoSlab-Medium.ttf",
    "semi-bold": "RobotoSlab-SemiBold.ttf",
    "extra-bold": "RobotoSlab-ExtraBold.ttf",
    "thin": "RobotoSlab-Thin.ttf",
    "extra-light": "RobotoSlab-ExtraLight.ttf",
    "black": "RobotoSlab-Black.ttf"
);

// Mixin para gerar a regra @font-face
@mixin roboto-slab-font-face($name, $file, $weight) {
    @font-face {
        font-family: 'Roboto Slab';
        src: url('../fonts/Roboto_Slab/static/#{$file}') format('truetype');
        font-weight: $weight;
        font-style: normal;
    }
}

// Aplicar o mixin para cada variação de fonte
@each $name, $file in $roboto-slab-fonts {
    @if $name == "regular" {
        @include roboto-slab-font-face($name, $file, normal);
    } @else if $name == "bold" {
        @include roboto-slab-font-face($name, $file, bold);
    } @else if $name == "light" {
        @include roboto-slab-font-face($name, $file, 300);
    } @else if $name == "medium" {
        @include roboto-slab-font-face($name, $file, 500);
    } @else if $name == "semi-bold" {
        @include roboto-slab-font-face($name, $file, 600);
    } @else if $name == "extra-bold" {
        @include roboto-slab-font-face($name, $file, 800);
    } @else if $name == "thin" {
        @include roboto-slab-font-face($name, $file, 100);
    } @else if $name == "extra-light" {
        @include roboto-slab-font-face($name, $file, 200);
    } @else if $name == "black" {
        @include roboto-slab-font-face($name, $file, 900);
    }
}

